<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='landingpage.css') }}">
</head>
<body>
    <form action = '' method="post">
        Name: <input type="text" name="name"><br>
        Email: <input type="text" name="email"><br>
        Ninja Name: <input type="text" name="ninjaname"><br>
        <input type="submit" value="Submit!!!">
    </form>
</body>
</html>